_old/
results/*
benchmark/sp2b/src/*
benchmark/data/
benchmark/measurement/
aws.txt
.vscode/
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform/inventory/
dev/
benchmark/rdf2pg/_old_versions
ansible/*.yml
ansible/POSTGRES.md
ansible/PERFORMANCE.md
!ansible/deploy.yml
benchmark/queries/*
rapsql-docker/*
!rapsql-docker/docker-compose.yml
!rapsql-docker/.env