# general
_old/
_ign/
aws.txt

# infrastructure related
.vscode/
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform/inventory/

# local benchmark results structure
results/
